<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test" parallel="methods">
	  
	  <groups>
		  <run>
			  
			  <include name="sanity.*"></include>
			
		  </run>
		  
		  </groups>
		  
		  
		  
    <classes>
		<class name="TestClass.LoginTest"/>
      <class name="TestClass.NewAppointmentTest"/>
      
      
      <class name="TestClass.BookedAppointmentTest"/>
      <class name="TestClass.LogOutTest"/>
     
     
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
